<!DOCTYPE html>
<html>
    <head>
        <title>Sign up Page</title>
     </head>   
     <body>
        <div>
            <form method="POST">
            <input type="text"name="username" placeholder="user name">
            <input type="text"name="password" placeholder="first name">   
            <input type="text"name="firstname" placeholder="first name">   
            <input type="text"name="lastname" placeholder="last name"> 
            <input type="submit">
        </form>  
        </div> 
     </body>
 </html>   